body {
	text-align: center;
	color: #444;
	font-size: 16px;
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 48px;
	margin-bottom: 0.22em;
	color: #8C5DAB;
	text-shadow: 0 0 1px #fff, 0 0 1px #fff, 
		0 0 36px, 2px 2px 0 rgba(0, 0, 0, 0.15);
}

p {
	margin: 0;
}

p.sub {
	color: #999;
	font-size: 13px;
	font-style: italic;
	margin: 0.4em 0;
}

h2 {
	color: #8C5DAB;
	margin: 1.5em 0 0.4em;
}

pre {
	text-align: left;
	width: 45em;
	font-size: 14px;
	margin: 0 auto 2em;
	padding: 1em;
	background-color: rgba(140, 93, 171, 0.2);
}

a {
	color: #8C5DAB;
}

a:hover{
	color: #BB8CDB;
}

div.buttons {
	margin: 40px 0 0;
}

div.buttons p.sub {
	margin: 1em 0 0.6em;
}

div.buttons a {
	display: inline-block;
	background-color: #0044CC;
	background-repeat: repeat-x;
	
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;

	border-radius: 3px;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	padding: 8px 18px;
	margin-right: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);

	background-image: -webkit-linear-gradient(top, #0088CC, #0044CC);
	background-image: linear-gradient(to bottom, #0088CC, #0044CC);

	-o-transition: background-position 0.1s;
	-ms-transition: background-position 0.1s;
	-webkit-transition: background-position 0.1s;
	transition: background-position 0.1s;
}

div.buttons a:hover {
	background-position: 0 -15px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.5);
}

#meebleforp {
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
	background-color: #BD362F;
}

#bookmarklet {
	font-size: 20px;

}